@import './theme.css';
@import './prism.css';
@import './mdx.css';

@layer base {
  html {
    scrollbar-gutter: stable;
    font-size: var(--text-baseSize);
  }

  body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-background);
    padding-left: var(--container-contentMarginLeft);
    padding-right: var(--container-contentMarginRight);
    margin: 0 auto;
    color: var(--color-text);
    line-height: calc(var(--spacing) * 7);
  }

  button {
    cursor: pointer;
  }

  @media (min-width: 768px) {
    body {
      max-width: var(--container-contentWidth);
    }
  }

  h1 {
    font-family: var(--font-caveat), var(--font-arita);
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .custom-scrollbar::-webkit-scrollbar {
    height: 0px;
  }

  .custom-scrollbar:hover::-webkit-scrollbar {
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }
}

@layer utilities {
  .pr-content {
    padding-right: var(--container-contentMarginRight);
  }

  .pl-content {
    padding-left: var(--container-contentMarginLeft);
  }

  /* .custom-scrollbar::-webkit-scrollbar {
    height: 0px;
  }

  .custom-scrollbar:hover::-webkit-scrollbar {
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  } */
}
