@import 'tailwindcss';
@import './font.css';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  /* 폰트 */
  --font-SuperMagicB: 'SuperMagic-Bold', sans-serif;
  --font-PretendardM: 'Pretendard-Medium', sans-serif;
  --font-NanumSquareRoundB: 'NanumSquareRound-Bold', sans-serif;
  --font-HappinessB: 'Happiness-Bold', sans-serif;
  --font-HappinessR: 'Happiness-Regular', sans-serif;

  /* 색상 */
  --color-*: initial;
  --color-primary: #2c6e49;
  --color-secondary: #4c956c;
  --color-tertiary: #97d3b1;
  --color-background: #fefee3;
  --color-point: #d68c45;
  --color-text: #fff;
  --color-text2: #333;

  /* [Custom] title, subtitle, text 관련 */
  --breakpoint-xxs: 360px;
  --breakpoint-xs: 480px;
}
